{% extends "base.html" %}

{% block title %}Add Author{% endblock %}

{% block content %}

<div class="form-page">

    <div class="form-card">

        <h1>Add Author</h1>

        <p class="form-description">
            Add a new author to your library.
        </p>


        {% if success %}
            <div class="success-message">
                Author successfully added!
            </div>
        {% endif %}


        <form method="POST">

            <div class="form-group">
                <label>Name</label>

                <input
                    type="text"
                    name="name"
                    placeholder="e.g. Franz Kafka"
                    required
                >
            </div>


            <div class="form-group">
                <label>Birth date</label>

                <input
                    type="date"
                    name="birth_date"
                    required
                >
            </div>


            <div class="form-group">
                <label>Date of death</label>

                <input
                    type="date"
                    name="date_of_death"
                >

                <small>
                    Leave empty if the author is still alive.
                </small>
            </div>


            <button
                type="submit"
                class="primary-button"
            >
                Add Author
            </button>

        </form>

    </div>

</div>

{% endblock %}