<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}My Library{% endblock %}</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>

<body>

<header class="navbar">
    <a href="/" class="logo">📚 My Library</a>

    <nav>
        <a href="/">All Books</a>
        <a href="/add_author">Add Author</a>
        <a href="/add_book">Add Book</a>
        <a href="{{ url_for('recommendation') }}">
        ✨ Recommend a Book
        </a>
    </nav>
</header>

<main class="container">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="success-message">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

</main>

</body>
</html>